.story {
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  font-size: $def-font-size;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  width: 75%;

  &__shape {
    background-color: orangered;
    height: 15rem;
    width: 15rem;
    float: left;
    // defines border shape
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    // defines object shape
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
  }
}